body {
    margin: 0;
    text-align: center;
}

@font-face {
    font-family: Cursed Timer ULiL;
    src: url(scoreFontUlil.ttf);
}

.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    background: #1B244A;
}

#home-section {
    margin-left: 50px
}

#guest-section {
    margin-right: 50px;
}

.title  {
    width: 149px;
    height: 36px;
    margin-bottom: 10px;
    color: #fff;
    font-family: Verdana;
    font-size: 40px;
    font-weight: bold;   
}

.score {
    width: 120px;
    margin: 20px;
    padding-top: 15px;
    border-radius: 5px;
    background: #080001;
    font-family: Cursed Timer ULiL;
    font-size: 90px;
    color: #F94F6D;   
}

button {
    font-family: Cursed Timer ULiL;
    color: #9AABD8;
    border: none;
    padding: 8px 7px;
    margin: 1px;
    background: #1B244A;
    border: 2px solid #9AABD8;
    border-radius: 7px;
}

.add-section {
    width: 155px;
    height: 45px;
}

#reset {
    align-self: end;
    margin-bottom: 20px;
    margin-right: 20px;
}